@charset "utf-8";

@media screen and (max-width:1023px){
.inner-wrapper{width: auto !important;}
.wrap{overflow:hidden;display:flex;flex-direction: column;min-height: 100vh;}
.wrap .btn-scroll{display:none;}

.header{height:4rem;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;background:#000;}
.header .inner-wrapper{height:100%;padding:0 1.8rem 0 2.4rem;}
.header .logo svg{width:10rem;height:1rem;}
.header .gnb-menu{position:fixed;top:4rem;left:100%;width:100%;height:100%;background:rgba(0, 0, 0, 0.9);padding-top:4.8rem;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
.header .gnb-menu ul{flex-direction: column;font-size:3rem;}
.header .gnb-menu ul li{text-align:center;}
.header .gnb-menu ul li ~ li{margin-top:3rem;}
.header .gnb-menu ul li a{height:auto;}
.header .btn-dwn{display:inline-flex;justify-content:center;align-items:center;padding:0 1.2rem;font-size:1.2rem;height:3.2rem;border-radius:3.2rem;background:#2A2B2C;white-space: nowrap;}
.header .menu{height:4rem;width:4rem;margin-left:1rem;}
.header .menu span{width: 2rem; height: 0.2rem; margin: 0.3rem auto;}
.header.on-mo .gnb-menu{left:0;font-weight:700;}
.header.on-mo .menu{right:0;z-index:110}
.header.on-mo .menu span{width: 2.5rem; margin: -0.05rem auto;}
.header.on-mo .menu span:nth-child(2){height:0;}
.header.on-mo .menu span:first-child{top:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.header.on-mo .menu span:last-child{top:0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.footer{padding:2.4rem;margin-top:auto;}
.footer .footer-menu{font-size:1.4rem;}
.footer .footer-menu .menu{padding:0 1.2rem;margin:0;}
.footer .footer-info{font-size: 1.2rem;margin-top:2.4rem;line-height:1.4;}


/* ========================================
  main
=========================================== */

.main-visual{min-height:100vh;}
.main-visual .visual{position:relative;height:30rem;background:url('~@/assets/images/bg-main-visual-m.jpg') no-repeat 50% 0;background-size:auto 100%;background-size:cover;}
.main-visual .main-txt{position:absolute;bottom:2.4rem;left:2rem;font-size:1.6rem;line-height:1.4;letter-spacing: 0.3em;font-weight:700;}
.main-visual .desc{padding:4rem 2.4rem;}
.main-visual .sub-txt{position:relative;bottom:0;left:0;text-align:center;font-size:2.4rem;top:0;font-weight:700;line-height:1.6em;}
.main-visual .sub-txt .i-chargev{width:15rem;height:1.5rem;position:relative;top:-0.2rem;margin-right:0.8rem;}
.main-visual .filling-amount{position:relative;margin-top:11.4rem;text-align:right;}
.main-visual .filling-amount strong{display:block;font-size:1.6rem;font-weight: 700;}
.main-visual .filling-amount .kwh{font-size: 2.4rem;font-weight:700;margin-top:0.8rem;}
.main-visual .filling-amount .kwh .unit{margin-left:0.5rem;}

/* ========================================
  common contents
=========================================== */

input[type=text],
input[type=password],
input[type=number],
textarea {font-size: 1.6rem; padding-bottom:1rem; height: 3.2rem;}

.inp-row .right { margin-left:0.8rem; }
.inp-row .btn { padding: 0 1rem; line-height: 3rem; height: 3.2rem; font-size: 1.2rem; border-radius: 0.4rem;} 
.inp-row .right { margin-left:0.8rem; }

.inp-addr .addr-code{width:auto;flex:1;margin-left:1.6rem;}
.inp-addr .btn{width:8.7rem;}

.inp-parking .btn{margin:0 1.6rem;}

.inp-apply-num .input{width:auto;flex:1}
.inp-apply-num .input ~ .input{margin-left:1.6rem;}

.inp-radio input{width:1.6rem;height:1.6rem;}
.inp-radio .ic{width:1.6rem;height:1.6rem;border-radius:1.6rem;top:-0.1rem;}
.inp-radio input:checked  + .ic:after{width:0.8rem;height:0.8rem;border-radius:0.8rem;}
.inp-radio .t{margin-left:0.8rem;font-size:1.4rem;}
.inp-radio + .inp-radio{margin-left:3.4rem;}

.inp-radio input{width:1.6rem;height:1.6rem;}
.inp-check .ic{width:1.6rem;height:1.6rem;top:-0.1rem;}
.inp-check .t{margin-left:0.8rem;font-size:1.4rem;}
.inp-check + .inp-check{margin-left:3.4rem;}

/* title */
.title-type1{font-size:3rem;font-weight:800;letter-spacing: 0.3em;}
.title-type1 + .title-type2,
.title-type1 + .title-type3{margin-top:1.6rem;}
.title-type2{font-weight: 600; font-size: 1.6rem;}
.title-type2 + .text-type1{margin-top:1.6rem;}
.title-type3{font-size:1.6rem;}

/* text*/ 
.text-type1{font-size:1.6rem;}
.text-type1 + .title-type2{margin-top:3.6rem;}
.text-type2{font-size:1.6rem;}
.text-type2 + .btn-more-wrap{margin-top:3.2rem;}
.text-type3{font-size:1.4rem;}

/* icon */
i[class*=i-] svg{width: 100%; height: 100%;}

/* button */
.btn-wrap{margin-top:4rem;}
.btn-wrap [class*=btn-type]{min-width: 25.6rem;}

.btn-type1{padding:0 4rem;font-size:1.6rem;font-weight:600;line-height:3.8rem;border-radius:0.8rem;height:3.8rem;letter-spacing: 0.25em;}
.btn-type1.type2{padding:0 1rem;font-size:1.2rem;font-weight:400;height:3.2rem;line-height:3.2rem;border-radius:0.4rem;}

.btn-more-wrap{text-align:center;}
.btn-more{padding:0.5rem 0;;font-size:1.4rem;}
.btn-more i{margin-left:0.4rem;}
.btn-more i svg{width:1.2rem;height:1.2rem;}
.btn-more ~ .btn-more{margin-left:4rem;}
  
.btn-back{padding:0;font-size: 1.4rem;}
.btn-back i{margin-right:0.4rem;}
.btn-back i svg{width:1.2rem;height:1.2rem;}

.btn-down {text-align:center;}
.btn-down .btn{display:inline-flex;font-size: 1.6rem;padding:0 1rem;height:3.8rem;border-radius:3.8rem;background:#2A2B2C;align-items: center;}

/* place-card */
.place-list{width:calc(100% + 2.4rem);margin-left:-1.2rem;}
.place-list + .noti-box{margin-top:2.4rem;}
.place-list li{padding-left:1.2rem;margin-left:0;}
.place-list li:last-child{padding-right:1.2rem;}
.place-card{width:29.4rem;height:19.4rem;border-radius:0.8rem;}
.place-card .desc{padding:1.6rem;}
.place-card .desc .tit{font-size:2rem;}
.place-card .desc .txt{margin-top:0.8rem;}
.place-card .desc .price,
.place-card .desc .item{font-size:20px;font-weight:700;}

.form-box .row ~ .row{margin-top:1.6rem;}
.form-box .row .right { margin-left:0.8rem; }
.form-box .btn { padding: 0 1rem; line-height: 3rem; height: 3.2rem; font-size: 1.2rem; border-radius: 0.4rem;}

.login-wrap .form-box .row ~ .row{margin-top:2.4rem;}
.login-wrap .form-box input[type=text],
.login-wrap .form-box input[type=password],
.login-wrap .form-box input[type=number]{font-size:1.2rem;}

/* ========================================
  contents
=========================================== */

.section{padding:0 2.4rem 3.2rem;display:flex;flex-direction: column;justify-content:center;align-items:center;}
.section .title-type1{padding-top:4.2rem;}
.section:first-child .title-type1{padding-top:6.4rem;}
.section::after{width:5.8rem;height:0.2rem;margin-top:3.2rem;}

.line-bar{display:none;}

.login-wrap{padding:5.6rem 2.4rem;background:none;}
.login-wrap .inner-wrapper{width:100%;}
.login-wrap .btn-back{margin-bottom:2.5rem;}
.login-wrap .login-content{display:block;}
.login-wrap .login-content > .right{width:auto;margin-top:6.4rem;}
.login-wrap .login-menu ul{display:flex;}
.login-wrap .login-menu ul li{flex:1;}
.login-wrap .login-menu ul li button{width: 100%; height: 3.5rem;line-height:3.6rem;font-size:1.4rem;background: #2A2B2C; border-radius: 0.4rem;}
.login-wrap .login-menu ul li ~ li{margin-top:0;margin-left:1.6rem;}
.login-wrap .join-guide-txt{font-size:1.2rem;}
.login-wrap .login-txt{margin-top:6.4rem;font-weight: 700; font-size: 1.4rem;width:auto;text-align:center;}
.login-wrap .btn-more-wrap{text-align:left;margin-top:2.4rem;}
.login-wrap .grid-list-menu + .btn-more-wrap{margin-top:3rem;}

/* grid-list-menu */
.grid-list-menu {font-size:1.4rem;}
.grid-list-menu > .row ~ .row { margin-top: 1.6rem; }
.grid-list-menu > .row .check .txt { margin-left:1.3rem; }
.grid-list-menu > .row .check svg{width:1.3rem;height:1.1rem;}
.grid-list-menu > .row .i-delete svg{width:1.4rem;height:1.4rem;}
.grid-list-menu > .row .i-arr-right2 svg{width:0.68rem;height:1.6rem;}
.grid-list-menu > .row .right .btn-link{width:4rem;height:4rem;}

/* partner */
.partners-wrap{margin-top:3.2rem;}
.partener-logos{margin:2.4rem 0;}
.partener-logos li{height:auto;padding:0 1rem;}
.partener-logos li.logo-bmw img{width:2.1rem;height:2.1rem;}
.partener-logos li.logo-coupe img{width:4.9rem;height:2.1rem;}
.partener-logos li.logo-benz img{width:2.1rem;height:2.1rem;}
.partener-logos li.logo-polestar img{width:2.1rem;height:2.1rem;}
.partener-logos li.logo-volvo img{width:2.1rem;height:2.1rem;}
.partener-logos li.logo-jaguar img{width:4.1rem;height:2.8rem;}
.partener-logos li.logo-land-rover img{width:4.1rem;height:2.1rem;}

.partners-history {margin-top:6.4rem;}
.partners-history .partner-logo{display:none;}
.partners-history ol{position:relative;}
.partners-history ol:before{content:'';display:block;height:100%;background:#5A5B5C;position:absolute;top:0;left:50%;width:2px;transform:translateX(-50%);-webkit-transform:translateX(-50%);}
.partners-history ol li{height:5.6rem;margin-top:-2.8rem;width:100%;display:flex;flex-direction:row;align-items:center;}
.partners-history ol li .history{position:relative;width:50%;}
.partners-history ol li .history::before{content:'';display:block;width:2.4rem;height:0.1rem;background:#8A8B8C;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.partners-history ol li .history::after{content:'';display:block;width:0.4rem;height:0.1rem;background:#8FFF44;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.partners-history ol li .history strong{margin:0.2rem auto;font-size:1rem;font-weight:700; color:#CACBCC;}
.partners-history ol li .history .txt{margin:0.2rem auto;font-size:1.2rem;font-weight:700; color:#8A8B8C;white-space: nowrap;}
.partners-history ol li .history .name{margin:0.2rem auto;font-size:1.2rem;font-weight:700;white-space: nowrap;line-height:1em;}
.partners-history ol li:nth-child(even) .history{text-align:right;padding-right:3.5rem;}
.partners-history ol li:nth-child(even) .history::before{right:0.4rem}
.partners-history ol li:nth-child(even) .history::after{right:-0.2rem}
.partners-history ol li:nth-child(odd) .history::before{left:0.4rem}
.partners-history ol li:nth-child(odd) .history::after{left:-0.2rem}
.partners-history ol li:nth-child(odd) .history{margin-left:auto;text-align:left;padding-left:3.5rem;}

.business-list{position:relative;width:100%;margin-top:3.2rem;}
.business-list:before{content:'';display:block;width:5.8rem;height:0.2rem;margin-top:3.2rem;background:#fff;margin:0 auto;}
.business-list li{margin-top:3.2rem;}
.business-list li:nth-child(odd) .desc{padding-left:1.9rem;}
.business-list li:nth-child(even) .desc{padding-right:1.9rem;}
.business-list li .img{width:100%;height:auto;}
.business-list li .desc .tit{font-size:1.4rem;white-space: nowrap;font-weight:600;}
.business-list li .desc .exp{margin-top:1.3rem;font-size: 1.2rem;}
.business-list + .text-type2{margin-top:3.3rem}

.noti-list{width:100%;margin-top:1.6rem;}
.noti-list li ~ li{margin-left:1.6rem;}
.noti-list li .img{width:15.2rem;height:14.8rem;}
.noti-list li .tit{margin-top:0.8rem;padding-bottom:0.5rem;font-size:1.6rem;font-weight:700;letter-spacing: 0.2em;}
.noti-list li .sub-head{display:none;}
.noti-list li .cont{margin-top:0.8rem;font-size:1.6rem;}

.contract-wrap{width:100%;margin-top:1.6rem;display:block;}
.contract-wrap .cont{padding-left:0;margin-top:1.6rem;}
.contract-wrap .cont .bottom{margin-top:3.2rem;}
.contract-wrap input[type=text],
.contract-wrap input[type=password],
.contract-wrap input[type=number],
.contract-wrap textarea{font-size:1.6rem;letter-spacing: 0.15em;}

.b2b-list{width:100%;margin-top:6.4rem;}
.b2b-list li ~ li{margin-left:0.94rem;}
.b2b-list li .img{width:14.4rem;height:15.3rem;}
.b2b-list li .caption{font-size:1.4rem;margin-top:0.8rem;padding-bottom:0;}

.img-list{width:100%;margin-top:6.4rem;}
.img-list li{margin-top:1.6rem;}
.img-list li:nth-child(odd) .desc{padding-left:1.95rem;}
.img-list li:nth-child(even) .desc{padding-right:1.95rem;}
.img-list li .img{width:100%;min-height:10.4rem;height:auto;}
.img-list li .img img{width:100%;}
.img-list li .desc .tit{font-size:1.4rem;letter-spacing: 0.1em;}
.img-list li .desc .exp{margin-top:1.3rem;font-size: 1.2rem;}

.operation-process-content{font-size:1.4rem;margin-top:6.4rem;}

.process-step{width:100%;margin:0;margin-top:6.4rem;}
.process-step ol{flex-direction:column;}
.process-step ol li{flex:1;position:relative;flex-direction:column;padding:0;padding-top:1.6rem;}
.process-step ol li i{position:relative;top:0;left:0;transform:translateY(0);-webkit-transform:translateY(0);transform: rotate(90deg);margin-bottom:1.6rem;}
.process-step ol li i svg{width:2.4rem;height:2.4rem;}
.process-step ol li .cont{margin-top:1.6rem;display:flex;flex-direction:row;align-items:center;}
.process-step ol li .cont strong{font-size:1.6rem;width:11.2rem;text-align:left;font-weight:700;}
.process-step ol li .cont p{flex:1;margin-top:0;font-size:1.4rem;text-align:left;}

.culture-wrap{width:100%;}
.culture-top-txt{margin-top:6.4rem;font-size:1.6rem;font-weight:600;}
.culture-bottom-txt{margin-top:6.4rem;font-size:1.6rem;font-weight:600;}
.culture-visual-list{margin-top:6.4rem;}
.culture-visual-list li{width:100%;margin-top:2.3rem !important;}
.culture-visual-list li:first-child{margin-top:0 !important;}
.culture-visual-list li:nth-child(odd){padding-right:0;}
.culture-visual-list li:nth-child(even){padding-left:0;}
.culture-visual-list li .box{position:relative;}
.culture-visual-list li .box .plus{content:'';display:block;position:absolute;bottom:0.8rem;right:0.8rem;}
.culture-visual-list li .box .plus svg{width:1.6rem;width:1.6rem;}
  .culture-visual-list li .desc strong{font-size:1.4rem;font-weight:600;}
.culture-visual-list li .desc p{font-size:1.2rem;margin-top:1.6rem;}

.culture-list{margin-top:6.4rem;display:block;position:relative;}
.culture-list:after{content:'';display:block;clear: both;}
.culture-list > li {width:50%;padding-left:2rem;}
.culture-list > li:nth-child(1){float:left;}
.culture-list > li:nth-child(2){position:absolute;top:10.3rem;left:0;}
.culture-list > li:nth-child(3){float:right;padding-left:3.7rem;}
.culture-list li strong {font-weight: 600;  font-size: 1.6rem;}
.culture-list li ul{margin-top:1.5rem;}
.culture-list li ul li {margin-top:0.8rem;font-size: 1.4rem;}

.team-wrap{width:100%;}
.team-list {display:block;margin-top:6.4rem;}
.team-list li ~ li{margin-top:1.6rem;}
.team-list li button{width:100%;height:8rem;border-radius:0;font-size: 1.4rem;color:#CACBCC;background:#000;border:1px solid #8A8B8C;}
.team-detail{display:none !important;}
.team-detail-wrap .text-detail{font-size:1.6rem;margin-top:15rem;text-align:center; color:#CACBCC;line-height:1.5;}

.noti-slide-list{margin-top:5rem;font-size:1.4rem;}
.noti-slide-list li button{text-align:left;display:flex;}
.noti-slide-list li ~ li{margin-top:2.5rem;}
.noti-slide-list li i{margin-right:1rem;}
.noti-slide-list li i svg{width:1.2rem;height:1.6rem;}
.noti-slide-list li .detail{padding-top:3rem;}
  
.process-wrap{width:100%;padding:0 0;}
.process-list{margin-top:6.4rem;display:block;}
.process-list li {width:100%;}
.process-list li ~ li{margin-top:2.4rem;}
.process-list li strong {font-weight: 600;  font-size: 1.6rem;}
.process-list li p {margin-top:0.65rem;font-size: 1.4rem;}

  /* rule-wrap */
.rule-wrap{width:100%;padding:0 2.4rem;padding-top:6.4rem;} 
.rule-wrap .date{margin-top:1.3rem;font-size:1.2rem;}
.rule-wrap .rule-content{margin-top:1.3rem;margin-bottom:0;font-size:1.2rem;padding-bottom:2.5rem;border-bottom-width:1px;}
.rule-wrap .rule-content pre{white-space: pre-line;line-height:1.5;}
.rule-wrap .rule-content .btn-more-wrap{margin-top:1.3rem;}

.charger-apply-wrap .title-type2{ color:#fff;margin-top:2.4rem;margin-bottom:6.4rem;}
.charger-apply-wrap .process-step{text-align:center;}
.charger-apply-wrap .process-step ol{display:inline-block;}
.charger-apply-wrap .process-step + .text-type3{margin-top:3.8rem; }
.charger-apply-wrap .text-type3 + .text-type3{margin-top:2.4rem; }
.charger-apply-wrap .text-type3 + .btn-more-wrap{margin-top:4rem;}
.charger-apply-wrap .btn-more-wrap + .text-type3{margin-top:4rem;}

.noti-box{font-size:1.6rem;padding:1.6rem;border-radius:0.4rem;}
.noti-box p ~ p{margin-top:0.5rem;}
.noti-box p.dash{padding-left:1rem;font-size:1.4rem;}

.text-grid-list .row > strong{font-weight: 600; font-size: 1.6rem;letter-spacing: 0.25em;color: #8A8B8C;}
.text-grid-list .row ~ .row{margin-top:4rem;}
.text-grid-list .row > div{margin-top:0.8rem; color:#CACBCC;letter-spacing: 0.2em;font-size: 1.6rem;}


/* mypage */
.mypage-wrap{width:100%;}
.mypage-box{display:block;width:100%;margin-top:4.8rem;}
.mypage-box > .left{margin-right:0;}
.mypage-box > .left .box{border-radius:0.8rem;padding:2.4rem;}
.mypage-box > .left .box ~ .box{margin-top:1.6rem;}
.mypage-box > .left .box .box-tit{margin-bottom:1.6rem;font-size:1.6rem;}
.mypage-box > .left .box .form-box .row-label{margin-bottom:0.8rem;font-size:1.4rem;}
.mypage-box > .left .box .form-box .row-label ~  .row-label{margin-top:1.6rem;}
.mypage-box > .left .box .form-box .row ~ .row{margin-top:0.8rem;} 
.mypage-box > .left .box .form-box .row .right{margin-left:1.6rem;}
.mypage-box > .left .box .form-box .btn{width:auto;padding:0 1rem;font-size:1.2rem;}
.mypage-box > .left .box .form-box .txt{font-size:1.4rem;}
.mypage-box > .left .box .form-box .pad{padding:0.4rem 0;}
.mypage-box > .left .box .form-box ~ .form-box{margin-top:2.9rem;}
.mypage-box > .left .box .form-box .btn-wrap{margin-top:2.8rem;}
.mypage-box > .left .box .btn-more-wrap{margin-top:2.8rem;}
.mypage-box > .right{width:100%;margin-top:4rem;}
.mypage-box > .right .using-list{height:auto; border-radius: 0.4rem;}

/* calendar */
.using-history{border-radius: 0.4rem;padding:2.4rem;border-radius: 0.4rem;height:auto;display:block;}
.using-history .title{font-size: 1.6rem;margin-bottom:3.2rem;}
.using-history .calendar{width:calc(100% + 4.8rem);margin-left:-2.4rem;}
.using-history .total-wrap{width:calc(100% + 4.8rem);margin-left:-2.4rem;margin-top:2.8rem;font-size:1.4rem;}
.using-history .total-wrap .label{margin-right:1.2rem;}
.using-history .total-wrap .num{margin:0 1.2rem;}
.using-history .total-wrap .splide__slide:first-child{padding-left:2.4rem !important;}
.using-history .total-wrap .splide__slide:last-child{padding-right:2.4rem !important;}
.using-history .list-info{font-size:1.4rem;margin:3.2rem 0;}
.using-history .list-info .info .label{margin-right:3.2rem;}
.using-history .list-info .info .label .space{margin-right:1rem;}
.using-history .list-info .info .kwh .space{margin-left:1rem;}
.using-history .history-list-wrap .history-list{position:relative;height:auto;}

.calendar .splide__slide{padding:0.3rem 0;}
.calendar .splide__slide .month{font-size:1.4rem;}
.calendar .splide__slide .account{font-size:1.2rem;margin-top:1.6rem;}
.calendar .splide__slide:first-child{padding-left:2.4rem !important;}
.calendar .splide__slide:last-child{padding-right:2.4rem !important;}
.calendar .year-slide .splide__slide button{font-size:1.4rem;}
.calendar .month-slide{margin-top:2.6rem;}
.calendar .month-slide .splide__slide{padding:0 0.7rem;}
.calendar .month-slide .splide__slide button{width: 5.9rem;height:5.9rem;border-radius:0.8rem;padding:0.4rem 0;font-size:1.4rem;}

/* history-list */
.history-list li ~ li{margin-top:1.6rem;}
.history-list .box{padding:0.8rem;border-radius:0.4rem;font-size:1.4rem;}
.history-list .i-arr-right2 {right:1.2rem;;}
.history-list .t-wrap .row .cell{padding:0.5rem 0;}
.history-list .t-wrap .row .cell ~ .cell{padding-left:0.6rem;}
.history-list .t-wrap .row .cell p ~ p{margin-top:1.6rem;}
.history-list .t-wrap .row .cell:last-child{padding-right:2rem;}
.history-list .t-wrap .row .price {margin-right:0.4rem;}

/* layer */
.layer-full-popup{padding:6.5rem 0;}
.layer-full-popup .close{top:-0.3rem;right:0;}
.layer-full-popup .close svg{width:2.4rem;height:2.4rem;}
.layer-full-popup .popup{padding:6.4rem 2.4rem;}
.layer-full-popup .layer-title{font-size:1.6rem;}
.layer-full-popup .layer-title + .apply-complete-wrap{margin-top:6.4rem;}
.layer-full-popup .layer-title ~ .layer-title{margin-top:6.5rem;}
.layer-full-popup .layer-title + .text-type3{margin-top:6.5rem;}
.layer-full-popup .layer-title-sub{margin-top:6.5rem;font-size:1.4rem;font-size:1.6rem;}
.layer-full-popup .layer-title-sub + .text-type3{margin-top:6.4rem;}
.layer-full-popup .btn-more-wrap{margin-top:1.6rem;}
.layer-full-popup .text-type3.layer-btm{margin-top:6.4rem;}

.layer-popup .dim{display:none;}
.layer-popup .popup{position:fixed;top:0;left:0;width:100%;height:100%;overflow:auto;padding:6.4rem 0;background:rgba(0, 0, 0, 0.9);z-index: 100;}
.layer-popup .close{position:absolute;top:-0.3rem;right:2.4rem;}
.layer-popup .close svg{width:2.4rem;height:2.4rem;}
.layer-popup .inner-wrapper{padding:0 2.4rem;}
.layer-popup .rule-wrap{width:100%;padding:0;}
.layer-popup .rule-wrap .rule-content{padding-bottom:0;margin-bottom:0;border-bottom:none;}
.layer-popup .rule-wrap .title-type1{font-size:1.6rem;}
.layer-popup .rule-wrap .title-type3{font-size:1.4rem;}

.pop-charger-apply .inner-wrapper .layer-title-sub{margin:2.4rem 0;font-weight:600;font-size:1.6rem;}
.pop-charger-apply .form-box-wrap{width:100%;}
.pop-charger-apply .model-wrap{width:100%;}
.pop-charger-apply .menu-list ul{display:block;}
.pop-charger-apply .menu-list ul li ~ li{margin-left:0;margin-top:2.4rem;}
.pop-charger-apply .menu-list ul li button{width: 28rem; height: 3.8rem;border-radius: 0.8rem;font-size:1.6rem;letter-spacing: 0.25em;}
.pop-charger-apply .form-box input[type='text'],
.pop-charger-apply .form-box input[type='password'],
.pop-charger-apply .form-box input[type='number']{font-size:1.6rem;font-weight:600;}
.pop-charger-apply .form-box .row ~ .row{margin-top:4rem;}
.pop-charger-apply .form-box .btn{font-size:1.6rem;}
.pop-charger-apply .text-grid-list{width:100%;} 
}
