@charset "utf-8";
@import url("media.css");
@import url("font.css");

/* ========================================
  reset
=========================================== */
* {margin: 0; padding: 0; border: none; word-break: break-all; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-overflow-scrolling: touch; -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; vertical-align: baseline; font-size: inherit; line-height: inherit; font-family: inherit; color: inherit; font-weight: inherit; letter-spacing: 0.1em; }
*:before, *:after { box-sizing: border-box; -webkit-box-sizing: border-box; }
body { line-height: 1.25; font-family: "Montserrat", "Sans-serif"; -webkit-text-size-adjust: none; color: #515A6E; word-break: keep-all; word-wrap: break-word; color: #fff; font-weight: 400; }
dl, ul, ol, menu, li { list-style: none; }
p { margin: 0; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
table caption { visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }
img, fieldset { border: 0 none; }
img { vertical-align: middle; max-width: 100%; max-height: 100%; }
a { color: inherit; text-decoration: none; cursor: pointer; color: inherit; font-family: inherit; }
a:hover { text-decoration: none; }
i, em, address { font-style: normal; }
button { border: none; background: none; cursor: pointer; }
button:disabled { cursor: default; }
body>iframe { display: none; }

/* ========================================
  layout
=========================================== */
body{background:#000;}
.wrap .btn-scroll{position:fixed;bottom:175px;left:48px;font-size: 16px; line-height: 22px; letter-spacing: 0.24em;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}
.wrap .btn-scroll span{writing-mode: vertical-rl;}
.wrap .btn-scroll:after{content:'';display:block;position:absolute;top:-17px;left:7px;width:12px;height:8px;background:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAilBMVEWEioqJjIyFioqGioqHioqLjY2KjIyJjIyIioyLi42MjI2JjIyJjIyJjIyLjIyKi4yFioqIioqKi4yJjIyJjIyKi4yKi4yIi4qHioqJi4uJjIyJjIyKi4yJi4uJi4yKi4yJjIyIiouHioqKi4yJi4yHioqHioqKi4yIiouHioqIiouLi4yKi4z////zTMdNAAAAK3RSTlMAAAAAAAdXA1Up0loBUPvPBJzyRTbz/pUHuD1k/IjY3nGaMuSvBhXsglOA+of2fwAAAAFiS0dELc3aQT0AAAAHdElNRQfmBhsRITctVw6qAAAAXUlEQVQI1yXH6RqCIBSE4QOcNBW3MrXCpQUrmfu/vhDnx/fMS3SIYhF2TIhSl21X50VJVY3TWQvRXNqOZH8FbuJuMCiSzCOm2eDBAc8XgLfdwcvHfS17KA/+rVvVHx2VBiBpIZBxAAAAAElFTkSuQmCC') no-repeat 0 0;background-size:auto 100%;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}

.inner-wrapper{position:relative;width: 1920px;margin:0 auto;}
.header{position:fixed;top:0;left:0;width:100%;height:120px;background: rgba(255, 255, 255, 0.1);z-index: 10;}
.header .inner-wrapper{height:100%;display:flex;flex-direction:row;align-items:center;padding:0 44px 0 64px;}
.header .right{margin-left:auto;display:flex;flex-direction:row;align-items:center;}
.header .menu{width:40px;height:40px;display:flex;flex-direction: column;justify-content:center;align-items:center;}
.header .menu span{display:block;height:4px;width:32px;background:#fff;margin:4px 0;}

.footer{padding-bottom:64px;}
.footer .footer-menu{font-size:24px; color:#8A8B8C;text-align:center;}
.footer .footer-menu .menu{padding:0 30px;margin:0 64px;}
.footer .footer-info{text-align:center;font-size: 16px; line-height: 1.6; text-align: center; color:#8A8B8C;margin-top:64px;}

@media all and (min-width:1024px){
  .header .gnb-menu{margin-right:10px;position:absolute;top:0;right:-100%;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
  .header .gnb-menu ul{font-size:24px;display:flex;flex-direction:row;align-items:center;}
  .header .gnb-menu ul li .link-menu{white-space: nowrap;}
  .header .gnb-menu ul li a{height:120px;display:block;padding:0 32px;font-weight:700;display:flex;flex-direction: column;justify-content:center;align-items:center;white-space: nowrap;}
  .header.on-pc .gnb-menu{right:80px;}
}
/* ========================================
  main
=========================================== */
@media all and (min-width:1024px){
  .main-visual{height:1080px;letter-spacing: 0.2em;}
  .main-visual .visual{height:100%;background:url('~@/assets/images/bg-main-visual.jpg') no-repeat 50% 0;}
  .main-visual .inner-wrapper{height:100%;}
  .main-visual .main-txt{position:absolute;bottom:144px;left:128px;font-size:64px;font-weight: 700;line-height: 80px;}
  .main-visual .sub-txt{position:absolute;top:216px;left:845px;font-size:48px;font-weight: 700;line-height: 1.6;}
  .main-visual .sub-txt .i-chargev{vertical-align: middle;margin-right:14px;height:32px;width:320px;position:relative;top:-4px;}
  .main-visual .sub-txt .i-chargev svg{height:100%;width:100%;}
  .main-visual .filling-amount{position:absolute;bottom:144px;left:845px;}
  .main-visual .filling-amount strong{display:block;font-size:48px;font-weight: 700;line-height: 60px;}
  .main-visual .filling-amount .kwh{margin-top:32px;font-size: 64px; line-height: 80px;font-weight:bold;}
  .main-visual .filling-amount .kwh .num{ color:#8FFF44;margin-right:15px;} 
}

/* ========================================
  common contents
=========================================== */

@media all and (min-width:1024px){
  .mo-ver{display:none !important;}
}
@media all and (max-width:1023px){
  .pc-ver{display:none !important;}
}

/* form */
input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-input-placeholder { color: #8A8B8C; }
input::-moz-placeholder { color: #8A8B8C; }
input:-ms-input-placeholder { color: #8A8B8C; }
input::placeholder { color: #8A8B8C; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000000s ease-in-out 0s;
  transition: background-color 5000000s ease-in-out 0s;
}

input[type=text],
input[type=password],
input[type=number],
textarea { width: 100%; font-size: 20px; padding-bottom:18px; border-bottom: 1px solid #fff; height: 48px; outline: none; color: #fff; background: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }

/* align */
.align-c{text-align:center !important;}
.align-l{text-align:left !important;}
.align-r{text-align:right !important;}

/* color */
.c-green{ color:#8FFF44;}

/* title */
.title-type1{position:relative;padding-top:128px;font-weight: 700; font-size: 64px; line-height: 1.4; text-align:center; letter-spacing: 0.2em;}
.title-type1 + .title-type2{margin-top:64px;}
.title-type2{font-weight: 700; font-size: 40px; line-height: 1.4; text-align:center; letter-spacing: 0.15em; color:#CACBCC;}
.title-type2 + .text-type1{margin-top:64px;}

/* text*/ 
.text-type1{color:#8A8B8C;font-size:24px;text-align:center;line-height:1.6;letter-spacing: 0.15;}
.text-type1 + .title-type2{margin-top:1.6rem;}
.text-type2{font-size:36px;text-align:center;line-height:1.6;font-weight:700;}
.text-type2 + .btn-more-wrap{margin-top:64px;}
.text-type3{font-size:18px; color:#8A8B8C;text-align:center;line-height:1.5;}
.text-type3 em{ color:#fff;}

/* icon */
i[class*=i-] {position: relative; display: inline-block; background-size: 100% 100% !important; vertical-align: middle; }
i[class*=i-] svg{width: 100%; height: 100%; vertical-align: top; }
i[class*=i-] .svg-prevent {position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; }

/* button */
.btn-more-wrap{text-align:center;}
.btn-more{padding:3px 0;border-bottom:1px solid #fff;font-size: 24px;display:inline-flex;flex-direction:row;align-items:center;}
.btn-more i{margin-left:5px;}

.form-box .row ~ .row{margin-top:48px;}

/* ========================================
  contents
=========================================== */
.section{padding-bottom:128px;}
.section .title-type1{padding-top:128px;}
.section::after{content:'';display:block;width:288px;height:4px;background:#fff;margin:0 auto;margin-top:128px;}

.partener-logos {display:flex;flex-direction:row;align-items:center;justify-content: center;margin:60px auto;}
.partener-logos li{height:70px;padding:0 45px;display:flex;flex-direction: column;justify-content:center;align-items:center;}

.business-list{width:1252px;margin:0 auto;}
.business-list li{margin-top:128px;}
.business-list li .box{display:flex;flex-direction:row;align-items:stretch;}
.business-list li .box > div{flex:1;}
.business-list li .box > div .desc{height:100%;display:flex;flex-direction: column;justify-content:space-between}
.business-list li:nth-child(odd) .desc{padding-left:96px;}
.business-list li:nth-child(even) .desc{padding-right:96px;}
.business-list li:nth-child(even) .desc .btn-more{float:right;}
.business-list li .img{width:704px;height:512px;background:#8A8B8C;min-height:10.4rem}
.business-list li .desc .tit{font-weight: 500;font-size:32px;letter-spacing: 0.2em;}
.business-list li .desc .exp{margin-top:64px;font-size: 24px;}
.business-list + .text-type2{margin-top:128px;}

.noti-list{width:1408px;margin:0 auto;margin-top:128px;}
.noti-list li ~ li{margin-left:96px;}
.noti-list li .img{width:512px;height:384px;background-color:#8A8B8C;background-size:cover;background-position:50% 50%;}
.noti-list li .tit{margin-top:32px;border-bottom:1px solid #fff;padding-bottom:24px;font-size:32px; color:#8A8B8C;font-weight: 500;text-align:left;}
.noti-list li .sub-head{margin-top:48px;font-weight: 700;font-size:32px;text-align:left;}
.noti-list li .cont{margin-top:48px;font-size:24px;text-align:left;}

.contract-wrap{display:flex;flex-direction:row;width:1408px;margin:0 auto;margin-top:128px;}
.contract-wrap > *{flex:1;}
.contract-wrap .cont{padding-left:128px;display:flex;flex-direction: column;justify-content: space-between;}

.b2b-list{width:1408px;margin:0 auto;margin-top:64px;}
.b2b-list li ~ li{margin-left:40px;}
.b2b-list li .img{width:512px;height:384px;background-color:#8A8B8C;background-size:cover;background-position:50% 50%;}
.b2b-list li .caption{font-size:18px;margin-top:24px;text-align:center;padding-bottom:20px;}

.img-list{width:1408px;margin:0 auto;}
.img-list li{margin-top:128px;}
.img-list li .box{display:flex;flex-direction:row;align-items:stretch;}
.img-list li .box > div{flex:1;}
.img-list li .box > div .desc{height:100%;display:flex;flex-direction: column;}
.img-list li:nth-child(odd) .desc{padding-left:96px;}
.img-list li:nth-child(even) .desc{padding-right:96px;text-align:right;}
.img-list li:nth-child(even) .box{flex-direction: row-reverse;}
.img-list li .img{width:704px;height:512px;background:#8A8B8C;}
.img-list li .desc .tit{font-weight: 700;font-size:36px;letter-spacing: 0.25em;}
.img-list li .desc .exp{margin-top:64px;font-size: 24px; color:#8A8B8C;line-height:1.4;}

.operation-process-content{text-align:center;font-size:24px;font-weight:700;margin-top:128px;letter-spacing: 0.2em;line-height:1.4;}

.operation-process-step{width:1320px;margin:0 auto;margin-top:128px;}
.operation-process-step ol{display:flex;flex-direction:row;font-size:18px;}
.operation-process-step ol li{flex:1;position:relative;display:flex;flex-direction:row;align-items:center;padding:0 30px;}
.operation-process-step ol li i{position:absolute;top:50%;left:-15px;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.operation-process-step ol li .cont{text-align:center;width:100%;}
.operation-process-step ol li .cont strong{display:block;}
.operation-process-step ol li .cont p{margin-top:30px;}

.layer-full-popup{position:fixed;top:0;left:0;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;padding:128px 0;background:rgba(0, 0, 0, 0.9);z-index: 100;}
.layer-full-popup .close{position:absolute;top:136px;right:128px;z-index: 10;}
.layer-full-popup .layer-title{font-size:36px;text-align:center;font-weight:700;}
.layer-full-popup .layer-title ~ .layer-title{margin-top:128px;}
.layer-full-popup .layer-title + .text-type3{margin-top:64px;}
.layer-full-popup .layer-title-sub{margin-top:64px;font-size:24px;text-align:center; color:#8A8B8C;line-height:1.5;}
.layer-full-popup .layer-title-sub em{ color:#fff;}
.layer-full-popup .layer-title-sub + .text-type3{margin-top:24px;}
.layer-full-popup .btn-more-wrap{margin-top:32px;}
.layer-full-popup .text-type3.layer-btm{margin-top:64px;}